.card{
  //border-radius: 5px;    //给卡片整体一个圆角,但因为title占据了100%，所以这种方式不生效。
  .title{
    border-radius: 5px 5px 0 0;   //上左 上右5px  圆角
    display:flex;
    justify-content: space-between;  //两端对齐
    align-items: center;    //垂直居中
    border-bottom: 1px solid #f5f5f5;  //下边框设置为实线，白色
    padding:20px 20px 10px 20px;    //上 右 下 左
    background-color: white;

    h2{
      font-size: 20px;  //设置字体大小20px（今日热搜）
    }
    > div{
      a{
        font-size:14px;   //a标签字体大小为14px（查看更多）
      }
    }
  }
  .body{
    padding:10px 20px 20px 20px;
    background-color: white;
    border-radius: 0 0 5px 5px;   //下左 下右5px   圆角
  }
}
#app{
  width:100%;

  .main{
    width:1200px;
    min-height:200px;
    display:flex;    //灵活布局
    justify-content: space-between;  //两端对齐
    >div>div{
      margin-bottom: 20px;   //main的下两级div，即card下边距为20px
    }
    .left{
      width:69%;
      .boutique_article>.title{
        .switch_article_category{
          span{
            cursor: pointer;   //给前端后端添加按钮效果。
            font-size: 16px;   //调整一下字体大小。
            font-weight: bold;  //字体加粗
            transition: all 0.3s;
            &:hover{
              color: #ff9800;  //当鼠标移动到前端后端图标时，变为主题色。
            }
            &[active]{
              color: #ff9800;  //对active突出主题色
            }
          }
        }
      }
      .boutique_article>.body{
        padding: 0 20px;
        > ul{
          display:flex;  //流式布局
          flex-wrap: wrap; //允许换行
          >li{
            width: 50%;  //每个li标签占50%
            box-sizing: border-box;  //padding和border的值就不会再影响元素的宽高
            display: flex;
            padding: 10px 0;   //上下10px 左右0

            &:nth-child(1),&:nth-child(3),&:nth-child(5){
              border-right: 1px solid #f0eeee;
              //.right{
              //  padding: 10px 0 10px 10px;
              //}
              padding: 10px 10px 10px 0;
            }
            &:nth-child(2),&:nth-child(4),&:nth-child(6){
              padding: 10px;
            }
            &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){
              border-bottom: 1px solid #f0eeee;  //前四个下边框添加实线分隔。
            }

            .left{
              width: 40%;
              >div{
                width: 100%;       //img外部的div一个宽高，并且
                overflow: hidden;  //多出部分隐藏
                height: 80px;
                //border-radius: 5px;

              }
              img{
                width: 100%;
                transition: all 0.3s;  //所有属性过渡属性0.3s
                &:hover{
                  transform: scale(1.1); //缩放1.1倍
                }
              }
            }
            .right{
              width: 60%;
              box-sizing: border-box;  //防止h2的padding导致盒子尺寸超了。
              padding-left: 10px;
              display: flex;   //灵活布局
              flex-direction: column;  //竖向排
              justify-content: space-between;  //两端对齐

              h2{
                font-size: 20px;
              }
              p{                       //设置单行截断*****
                overflow: hidden;      //多出部分隐藏
                white-space: nowrap;   //多行状态下不换行
                text-overflow: ellipsis;  //多出部分用省略号

              }
              span{
                font-size: 14px;
                color: #555;
              }
            }
          }
        }
      }

      .all_article>.body{
        background-color: transparent;  //背景色改为透明
        padding: 0;  //将body的padding去掉，li标签下left标签的padding自己写
        >ul{
          width: 100%;

          >li {
            width: 100%;
            display: flex;
            background-color: white;
            margin-bottom: 20px;  //博客文章之间20px分隔
            border-radius: 5px;
            &:first-child{
              border-radius: 0 0 5px 5px;
              .left{
                padding: 10px 10px 20px 20px;
              }
              .right{
                padding: 10px 20px 20px 10px;
              }
            }
            .left{
              width: 30%;
              box-sizing: border-box;  //因为设置了left的padding，会将整个left‘撑大’ 所以用border-box
              padding: 20px 10px 20px 20px;  //上右下左
              >div{
                width: 100%;
                height: 110px;
                border-radius: 5px;   //边角5
                overflow: hidden;   //left中超出部分隐藏。
              }
              img{
                width: 100%;  //此时图片只占40%的宽度
                transition: all 0.3s;   //所有属性过渡时间为0.3s
                &:hover{
                  transform: scale(1.1);    //缩放1.1倍
                }
              }
            }
            .right{
              width: 70%;
              padding: 10px 20px 20px 10px;
              //display: flex;            //灵活布局
              //flex-direction: column;   //主轴为垂直方向，起点在上沿。
              //justify-content: space-between;  //两端对齐
              position: relative;  //写一个相对定位，方便button写绝对定位
              >h2{
                font-size: 24px;
                margin-bottom: 5px;
              }
              p{
                display: -webkit-box;
                -webkit-box-orient: vertical;     //多行截断
                -webkit-line-clamp: 2;            //指定为两行
                overflow: hidden;                //多出部分隐藏
                text-overflow: ellipsis;       //多出部分用省略号
                margin-bottom: 24px;
                //text-overflow: clip;             //多出部分直接裁剪
              }
              .article_info{
                font-size: 14px;
                color: #555;
                >span{                    //注意这里span以class为上一级所以需要加 >
                  margin-right: 10px;
                  i{                      //i以span为上一级，所以不需要 >
                    margin-right: 5px;
                  }
                }
              }
              >a{
                width: 100px;
                height: 30px;
                background-color: #ff9800;
                position: absolute;   //绝对定位
                right: 20px;      //距离右边0
                bottom: 20px;     //距离下边0
                border: none;  //border设置为0
                border-radius: 5px;  //圆角
                color: white;
                display: flex;   //灵活布局
                justify-content: center;
                align-items: center;
                font-size: 14px;

              }
            }
          }
        }
      }
    }
    .right{
      width:30%;
      .tags > .body{
        position: relative;
        ul{
          display: flex;     //灵活布局
          flex-wrap: wrap;   //支持换行，即内容多了自动换行
          margin-top: 10px;  //给ul标签加10px的边界

          @keyframes move_box {   //关键帧动画，和小方块为元素放在同一级，取名move_box
            0%{
              left: 0;
              top: 0;  //第一阶段位置
            }
            25%{
              left: calc(100% - 20px);
              top: 0;
            }
            50%{
              top: calc(100% - 20px);
              left: calc(100% - 20px);
            }
            75%{
              left: 0;
              top: calc(100% - 20px);
            }
            100%{
              left: 0;
              top: 0;  //第五阶段位置
            }
          }
          &::before{        //伪元素，小方块位置
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 20px;
            height: 20px;
            content: "";
            background-color: #ff9800;

            -webkit-animation-name:move_box;   //动画名字
            animation-name:move_box;
            -webkit-animation-duration: 5s;   //动画时长，完成整个动画的时常。
            animation-duration: 5s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;  //状态，即一直会循环。
          }
          li{
            display:flex;   //灵活
            align-items: center;   //垂直
            justify-content: center;  //居中
            width: 33.33%;
            height: 40px;
            box-sizing: border-box;
            //background-color: #f0eeee;
            &:nth-child(6n+1),&:nth-child(6n+2),&:nth-child(6n+3){
              background-color: #f5f5f5;                     //设置成灰白相间的颜色
            }
            &:nth-child(3n+1),&:nth-child(3n+2){
              border-right: 1px solid #f0eeee;               //标签云每一层分割线
            }
          }
        }
      }
    }
  }

}
