{% extends 'index.html' %}
{% load my_tag %}
{% block css %}
    <link rel="stylesheet" href="/static/my/css/article.css">
{% endblock %}

{% block banner %}
        {% banner 'article' article %}
{% endblock %}

{% block main %}
    <div class="article">
        <div class="article_title">
            <h2>{{ article.title }}</h2>
            <p>
                <span>发布时间：<i>{{article.create_date|date:'Y-m-d'}}</i></span>
                <span>作者：<i>{{article.author}}</i></span>
                <span>来源：<i>{{article.source}}</i></span>
            </p>
            <div>
                <i title="文章标签" class="fa fa-tag"></i>
                {% for tag in article.tag.all %}
                    <i>{{ tag.title }}</i>
                {% endfor %}
            </div>
        </div>
        <div class="article_content">
            md内容
        </div>
        <div class="comment_submit">
            <div class="title">
                你觉得文章怎么样
            </div>
            <div class="body">
                <textarea name="" id="" cols="30" rows="10" placeholder="写下你想说的话,开始我们的对话"></textarea>
                <button class="submit_comment">
                    发布评论
                </button>
            </div>
            <div class="footer">
                <p><span>49</span>人参与，<span>3</span>条评论</p>
            </div>
        </div>
        <div class="comment_list">
            <ul>
                <li>
                    <div class="left">
                        <img src="http://www.fengfengzhidao.com/media/avatars/20220320171243.jpg" alt="">
                    </div>
                    <div class="right">
                        <h4>neone</h4>
                        <div class="comment_content">
                            hello
                            <div>
                                <img src="http://www.fengfengzhidao.com/media/site_bg/wallhaven-k75977.jpg" alt="">
                                <img src="http://www.fengfengzhidao.com/media/site_bg/wallhaven-k75977.jpg" alt="">
                                <img src="http://www.fengfengzhidao.com/media/site_bg/wallhaven-k75977.jpg" alt="">
                            </div>
                            <div>
                                <img src="http://www.fengfengzhidao.com/media/site_bg/wallhaven-k75977.jpg" alt="">
                                <img src="http://www.fengfengzhidao.com/media/site_bg/wallhaven-k75977.jpg" alt="">
                                <img src="http://www.fengfengzhidao.com/media/site_bg/wallhaven-k75977.jpg" alt="">
                            </div>

                        </div>
                        <div class="comment_info">
                            <span>刚刚</span>
                            <div>
                                <span>点赞（0）</span>
                                <span>回复（0）</span>
                                <span class="delete">删除（0）</span>
                            </div>
                        </div>
                        <div class="sub_comment_list">
                            <div class="sub_comment_item">
                                <div class="left">
                                    <img src="/static/my/img/t013fe33ccda41a6f06.jpg" alt="">
                                </div>
                                <div class="right">
                                    <h4>hlf @ neone</h4>
                                    <div class="sub_comment_content">
                                        hello
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>1秒前</span>
                                        <div>
                                            <span>点赞（1）</span>
                                            <span>回复（1）</span>
                                            <span class="delete">删除（1）</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sub_comment_list">
                            <div class="sub_comment_item">
                                <div class="left">
                                    <img src="/static/my/img/t013fe33ccda41a6f06.jpg" alt="">
                                </div>
                                <div class="right">
                                    <h4>hlf @ neone</h4>
                                    <div class="sub_comment_content">
                                        hello
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>1秒前</span>
                                        <div>
                                            <span>点赞（1）</span>
                                            <span>回复（1）</span>
                                            <span class="delete">删除（1）</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <img src="http://www.fengfengzhidao.com/media/avatars/20220320171243.jpg" alt="">
                    </div>
                    <div class="right">
                        <h4>neone</h4>
                        <div class="comment_content">
                            hello
                            <div>
                                <img src="http://www.fengfengzhidao.com/media/site_bg/wallhaven-k75977.jpg" alt="">
                                <img src="http://www.fengfengzhidao.com/media/site_bg/wallhaven-k75977.jpg" alt="">
                                <img src="http://www.fengfengzhidao.com/media/site_bg/wallhaven-k75977.jpg" alt="">
                            </div>
                            <div>
                                <img src="http://www.fengfengzhidao.com/media/site_bg/wallhaven-k75977.jpg" alt="">
                                <img src="http://www.fengfengzhidao.com/media/site_bg/wallhaven-k75977.jpg" alt="">
                                <img src="http://www.fengfengzhidao.com/media/site_bg/wallhaven-k75977.jpg" alt="">
                            </div>

                        </div>
                        <div class="comment_info">
                            <span>刚刚</span>
                            <div>
                                <span>点赞（0）</span>
                                <span>回复（0）</span>
                                <span class="delete">删除（0）</span>
                            </div>
                        </div>
                        <div class="sub_comment_list">
                            <div class="sub_comment_item">
                                <div class="left">
                                    <img src="/static/my/img/t013fe33ccda41a6f06.jpg" alt="">
                                </div>
                                <div class="right">
                                    <h4>hlf @ neone</h4>
                                    <div class="sub_comment_content">
                                        hello
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>1秒前</span>
                                        <div>
                                            <span>点赞（1）</span>
                                            <span>回复（1）</span>
                                            <span class="delete">删除（1）</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sub_comment_list">
                            <div class="sub_comment_item">
                                <div class="left">
                                    <img src="/static/my/img/t013fe33ccda41a6f06.jpg" alt="">
                                </div>
                                <div class="right">
                                    <h4>hlf @ neone</h4>
                                    <div class="sub_comment_content">
                                        hello
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>1秒前</span>
                                        <div>
                                            <span>点赞（1）</span>
                                            <span>回复（1）</span>
                                            <span class="delete">删除（1）</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

{% endblock %}