{% extends 'index.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/my/css/article.css">
{% endblock %}

{% block main %}
    <div class="article">
        <div class="article_title">
            <h2>md文档预览</h2>
            <p>
                <span>发布时间：<i>2022-06-24</i></span>
                <span>作者：<i>neone</i></span>
                <span>来源：<i>neone的个人博客</i></span>
            </p>
            <div>
                <i title="文章标签" class="fa fa-tag"></i>
                <i>HTML</i>
                <i>CSS</i>
            </div>
        </div>
        <div class="article_content">
            md内容
        </div>
        <div class="comment_submit">
            <div class="title">
                你觉得文章怎么样
            </div>
            <div class="body">
                <textarea name="" id="" cols="30" rows="10" placeholder="写下你想说的话,开始我们的对话"></textarea>
                <button class="submit_comment">
                    发布评论
                </button>
            </div>
            <div class="footer">
                <p><span>49</span>人参与，<span>3</span>条评论</p>
            </div>
        </div>
        <div class="comment_list">

        </div>

    </div>

{% endblock %}